@font-face {
	font-family: Mont;
	src: url("../font/Mont.otf");
}
@font-face {
	font-family: Medium;
	src: url("../font/Medium.otf");
}
@font-face {
	font-family: Bold;
	src: url("../font/Bold.otf");
}
body {
	font-family: Mont;
	width: 500px;
	margin: 0;
	overflow: hidden;
	background-color: #efefef;
}
p {
	margin: 0;
	font-size: 0.8em;
}
h2 {
	display: inline-block;
	margin: 0;
	font-family: Bold;
}
#header {
	padding: 1% 2%;
	justify-content: space-between;
	align-items: center;
	color: white;
	height: 45px;
	background-color: #363b59;
	display: flex;
}
.bucket {
	padding: 1% 2% 1% 3%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	border-top: 1px solid #cccfe3;
	cursor: pointer;
}
.active,
.bucket:hover {
	background-color: #f7f7f7;
}
.bucketName {
	width: 350px;
}
.bucketDelete {
	text-decoration: none;
	font-family: Medium;
	border-radius: 3px;
	display: flex;
	visibility: hidden;
	font-size: 0.8em;
	align-items: center;
	background-color: #f55f6a;
	color: white;
	padding: 1%;
}
.bucketDelete:hover {
	background-color: #e65761;
}
.bucket div {
	margin: 0 2%;
}
#clear {
	border-radius: 3px;
	color: #707070;
	padding: 1% 4%;
	background-color: white;
	text-decoration: none;
}
#save {
	border-radius: 3px;
	color: #707070;
	padding: 1% 4%;
	background-color: white;
	text-decoration: none;
}
label {
	display: flex;
	align-items: center;
}
i {
	border: solid black;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
}
.down {
	transition: 0.2s;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.end {
	padding: 1% 2%;
	align-items: center;
	color: white;
	height: 45px;
	/*padding:3% 3% 0.1% 3%;*/
	background-color: #363b59;
	display: flex;
	justify-content: space-between;
}
.end a {
	font-family: Medium;
	margin: 0 0 0 2%;
}
#credits {
	width: 300px;
}
#credits a {
	text-decoration: none;
	color: white;
}
#name {
	margin: 0;
}
#content {
	height: 302px;
	scrollbar-width: thin;
	overflow-x: hidden;
	overflow-y: auto;
}
.bucketContent {
	background-color: white;
	max-height: 0;
	padding: 0 2%;
	transition: max-height 0.2s ease-out;
	overflow: hidden;
}
.up {
	transition: 0.2s;
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}
.bucketContent p {
	margin: 1% 0;
}
